*{
	margin: 0;
	padding: 0; 
}

nav{
	position: absolute;
	z-index: 2;
	opacity: 0.3;
	font-size: 16pt;
	right: 200px;
}

nav:hover{
	opacity: 1;
}

iframe{
	border: 0;
	width: 100vw;
	height: 100vh;
}