*{
	margin: 0;
	padding: 0;
}

nav{
	position: absolute;
	z-index: 2;
	opacity: 0.1;
}
nav:hover{
	opacity: 1;
}
body {
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}
#info {
	position: absolute;
	top: 0px; width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family:Monospace;
	font-size:13px;
	font-weight: bold;
	text-align:center;
}
a {
	color: #ffffff;
}